# Arquivos/Diretórios do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Banco de dados local
db.sqlite3

# Configurações locais
.env
*.env

# Django stuff
*.log
media/
staticfiles/

# VSCode / IDEs
.vscode/
.idea/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db

# Poetry
poetry.lock
.pyproject.toml.venv
.venv/
