# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env

# Django
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# Poetry
poetry.lock
.pytest_cache/

# OS
.DS_Store
Thumbs.db
__pycache__/
